# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs & memory
agent_logs.json
agent_memory.json
semantic_index.faiss
semantic_data.json

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/
